<!-- Footer -->
<footer class="footer py-5">
    <div class="container">
        <div class="footer-top pb-4 mb-4">
            <div class="row">
                <!-- Company Info -->
                <div class="col-lg-4 mb-4">
                    <h5 class="text-uppercase">Logistics Co.</h5>
                    <p>Providing comprehensive ocean freight and container rental services worldwide. Reliable, secure, and efficient logistics solutions for your business needs.</p>
                </div>

                <!-- Navigation Links -->
                <div class="col-lg-2 mb-4">
                    <h6 class="text-uppercase">Quick Links</h6>
                    <ul class="list-unstyled">
                        <li><a href="/index.php">Home</a></li>
                        <li><a href="/index.php?action=services">Services</a></li>
                        <li><a href="/index.php?action=contact">Contact</a></li>
                    </ul>
                </div>

                <!-- Contact Info -->
                <div class="col-lg-3 mb-4">
                    <h6 class="text-uppercase">Contact Us</h6>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-phone-alt text-primary"></i> +38 (099) 547-23-54</li>
                        <li><i class="fas fa-envelope text-primary"></i> dmitrybeznosiukcode@gmail.com</li>
                        <li><i class="fas fa-map-marker-alt text-primary"></i> Gavrilishina 24, Kyiv, Ukraine</li>
                    </ul>
                </div>

                <!-- Social Media Links -->
                <div class="col-lg-3 mb-4 text-center text-lg-left">
                    <h6 class="text-uppercase">Follow Us</h6>
                    <div class="social-icons">
                        <a href="https://www.facebook.com" class="social-icon" target="_blank">
                            <img src="https://img.icons8.com/3d-fluency/94/facebook-logo.png" alt="Facebook" class="social-img">
                        </a>
                        <a href="https://www.twitter.com" class="social-icon" target="_blank">
                            <img src="https://img.icons8.com/3d-fluency/94/twitter-logo.png" alt="Twitter" class="social-img">
                        </a>
                        <a href="https://www.instagram.com" class="social-icon" target="_blank">
                            <img src="https://img.icons8.com/3d-fluency/94/instagram-new.png" alt="Instagram" class="social-img">
                        </a>
                        <a href="https://www.linkedin.com" class="social-icon" target="_blank">
                            <img src="https://img.icons8.com/3d-fluency/94/linkedin-logo.png" alt="LinkedIn" class="social-img">
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-bottom text-center mt-4 pt-4">
            <div class="decorative-line mb-3"></div>
            <p class="mb-0">&copy; 2024 Logistics Co. All rights reserved. | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
        </div>
    </div>
</footer>